.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}
.each-card-container {
  max-width: 40%;
  border-radius: 20px;
  list-style-type: none;
  margin: 20px;
  padding: 20px;
}

.heading2 {
  font-size: 38px;
  font-family: 'Roboto';
  padding: 10px;
  color: #171f46;
}
.paragraph {
  font-size: 16px;
  font-family: 'Roboto';
  padding: 10px;
  color: #64748b;
}

.img-container {
  display: flex;
  justify-content: end;
}
